* {
	padding: 0px;
	margin: 0px;
}
html, body {
	height: 1080px;
	width: 1920px;
	overflow: hidden;
	position: relative;
}
img {
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px
}
form {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none
}
ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none
}
ol {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none;
}
li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	list-style-type: none
}
/*--------index.html--------------------*/
.hlj1 {
	float: left;
	height: 1080px;
	width: 1920px;
	background: url(../images/video.gif) left top no-repeat #e0e0e0;
}
.hlj1 a span {
	display: none;
}
.hlj1 .link_c1 {
	float: left;
	width: 36%;
	height: 1080px;
	margin-left: 30px;
}
.hlj1 .link_c2 {
	float: right;
	width: 60%;
	height: 1080px;
	margin-right: 20px;
}
/*------------------citylist-----------------*/
.hlj2 {
	float: left;
	height: 1080px;
	width: 1920px;
	background: url(../images/city.gif) left top no-repeat #e0e0e0;
}
.hlj2 a span {
	display: none;
}
.hlj2 .link_c1 {
	position: absolute;
	width: 700px;
	height: 280px;
	left: 0px;
	top: 0px;
}
.hlj2 .link_c1:hover {
	position: absolute;
	width: 700px;
	height: 280px;
	left: 0px;
	top: 0px;
}
.hlj2 .link_c1:hover span {
	position: absolute;
	width: auto;
	height: auto;
	left: 150px;
	top: 150px;
	padding: 10px 50px;
	text-align: center;
	color: #FFF;
	font-size: 36px;
	background-color: #333;
	white-space: nowrap;
	display: block;
}
.hlj2 .link_c2 {
	position: absolute;
	width: 900px;
	height: 280px;
	right: 0px;
	top: 0px;
}
.hlj2 .link_c2:hover {
	position: absolute;
	width: 900px;
	height: 280px;
	right: 0px;
	top: 0px;
}
.hlj2 .link_c2:hover span {
	position: absolute;
	width: auto;
	height: auto;
	right: 290px;
	top: 150px;
	padding: 10px 50px;
	text-align: center;
	color: #FFF;
	font-size: 36px;
	background-color: #333;
	white-space: nowrap;
	display: block;
}
.hlj2 .link_c3 {
	position: absolute;
	width: 700px;
	height: 350px;
	left: 0px;
	bottom: 0px;
}
.hlj2 .link_c3:hover {
	position: absolute;
	width: 700px;
	height: 350px;
	left: 0px;
	bottom: 0px;
}
.hlj2 .link_c3:hover span {
	position: absolute;
	width: auto;
	height: auto;
	left: 150px;
	bottom: 250px;
	padding: 10px 50px;
	text-align: center;
	color: #FFF;
	font-size: 36px;
	background-color: #333;
	white-space: nowrap;
	display: block;
}
.hlj2 .link_c4 {
	position: absolute;
	width: 360px;
	height: 380px;
	right: 0px;
	bottom: 0px;
}
.hlj2 .link_c4:hover {
	position: absolute;
	width: 360px;
	height: 380px;
	right: 0px;
	bottom: 0px;
}
.hlj2 .link_c4:hover span {
	position: absolute;
	width: auto;
	height: auto;
	right: 50px;
	bottom: 300px;
	padding: 10px 50px;
	text-align: center;
	color: #FFF;
	font-size: 36px;
	background-color: #333;
	white-space: nowrap;
	display: block;
}
.hlj2 .wz1 {
	position: absolute;
	top:370px;
	left: 1235px;
}
/*--.hlj2 a{
	border:1px solid #F00;
	font-size:36px;
	}--*/
.hlj2 .link_c5 {
	position: absolute;
	width: 130px;
	height:70px;
	top: 400px;
	left: 1235px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	text-decoration: none;
}
.hlj2 .link_c5:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 400px;
	left: 1235px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 30px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:28px;
}
.hlj2 .link_c6 {
	position: absolute;
	width: 300px;
	height: 20px;
	top: 530px;
	left: 1505px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c6:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 530px;
	left: 1505px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:28px;
}
.hlj2 .link_c7 {
	position: absolute;
	width: 220px;
	height: 20px;
	top: 620px;
	left: 1505px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 30px;
}
.hlj2 .link_c7:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 620px;
	left: 1505px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 30px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c8 {
	position: absolute;
	width: 220px;
	height: 20px;
	top: 720px;
	left: 1275px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 30px;
}
.hlj2 .link_c8:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 720px;
	left: 1275px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c9 {
	position: absolute;
	width: 120px;
	height: 20px;
	top: 590px;
	left: 640px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c9:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 590px;
	left: 640px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c10 {
	position: absolute;
	width:320px;
	height:40px;
	top:820px;
	left: 1140px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c10:hover {
	position: absolute;
	width:320px;
	height: 40px;
	top:820px;
	left: 1140px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align:lefr;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c11 {
	position: absolute;
	width: 100px;
	height: 60px;
	top: 490px;
	left: 1235px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	text-decoration: none;
}
.hlj2 .link_c11:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 490px;
	left: 1235px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:28px;
}
.hlj2 .link_c12 {
	position: absolute;
	width: 100px;
	height: 60px;
	top: 490px;
	left: 1385px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	text-decoration: none;
}
.hlj2 .link_c12:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 490px;
	left: 1385px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:28px;
}
.hlj2 .link_c13 {
	position: absolute;
	width:60px;
	height:55px;
	top: 410px;
	left: 1140px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	text-decoration: none;
}
.hlj2 .link_c13:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 410px;
	left: 1140px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:28px;
}
.hlj2 .link_c14 {
	position: absolute;
	width: 120px;
	height:50px;
	top: 500px;
	left:440px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c14:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 500px;
	left:440px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 20px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c15 {
	position: absolute;
	width: 120px;
	height:50px;
	top:400px;
	left:320px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c15:hover {
	position: absolute;
	width: auto;
	height: auto;
	top: 400px;
	left:320px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 20px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c16 {
	position: absolute;
	width:60px;
	height:30px;
	top:340px;
	left:200px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c16:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:340px;
	left:200px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c17 {
	position: absolute;
	width:60px;
	height:30px;
	top:310px;
	left:320px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c17:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:310px;
	left:320px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c18 {
	position: absolute;
	width:60px;
	height:20px;
	top:460px;
	left:680px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c18:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:460px;
	left:680px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c19 {
	position: absolute;
	width:30px;
	height:20px;
	top:410px;
	left:760px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c19:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:410px;
	left:760px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 10px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c20 {
	position: absolute;
	width:90px;
	height:60px;
	top:455px;
	left:795px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c20:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:455px;
	left:795px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 40px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
.hlj2 .link_c21 {
	position: absolute;
	width:20px;
	height:30px;
	top:405px;
	left:965px;
	display: block;
	line-height: 20000px;
	overflow: hidden;
	padding: 10px 0px 15px 50px;
}
.hlj2 .link_c21:hover {
	position: absolute;
	width: auto;
	height: auto;
	top:405px;
	left:965px;
	background: url(../images/city1.png) left bottom no-repeat;
	display: block;
	color: #FFF;
	padding: 20px 0px 15px 50px;
	text-align: right;
	line-height: normal;
	font-size:30px;
}
/*---------edifice---------edifice---*/
.hlj3 {
	float: left;
	height: 1080px;
	width: 1920px;
	background: url(../images/edifice.jpg) left top no-repeat #e0e0e0;
}
.hlj3 h2 {
	position: absolute;
	width: auto;
	height: auto;
	left:90px;
	top: 100px;
	color: #FFF;
	font-size: 36px;
	background:url(../images/gaodu.png) bottom center no-repeat;
	padding-bottom:850px;
}
.hlj3 ul {
	float: left;
	padding-left: 357px;
	padding-top: 290px;
	width: 150px;
}
.hlj3 ul li {
	position: relative;
	float: left;
	width: 147px;
	height: 14px;
	margin-top: 1px;
}
.hlj3 ul li a {
	position: relative;
	width: 147px;
	height: 14px;
	display: block;
	float: left;
	z-index: 9;
	overflow: hidden;
	line-height: 500000px;
}
.hlj3 ul li span {
	position: absolute;
	top: -80px;
	left: 0px;
	width: auto;
	height: 84px;
	padding: 10px 0px 10px 270px;
	z-index: 8;
	color: #FFF;
	font-size: 24px;
	white-space: nowrap;
}
.hlj3 ul li.ed1 span {
	background: url(../images/1.png) left bottom no-repeat;
}
.hlj3 ul li.ed2 span {
	background: url(../images/2.png) left bottom no-repeat;
}
.hlj3 ul li.ed3 span {
	background: url(../images/3.png) left bottom no-repeat;
}
.hlj3 ul li.ed4 span {
	background: url(../images/4.png) left bottom no-repeat;
}
.hlj3 ul li.ed5 span {
	background: url(../images/5-5.png) left bottom no-repeat;
}
.hlj3 ul li.ed6 span {
	background: url(../images/6.png) left bottom no-repeat;
}
.hlj3 ul li.ed7 span {
	background: url(../images/7.png) left bottom no-repeat;
}
.hlj3 ul li.ed8 span {
	background: url(../images/8.png) left bottom no-repeat;
}
.hlj3 ul li.ed9 span {
	background: url(../images/9.png) left bottom no-repeat;
}
.hlj3 ul li.ed10 span {
	background: url(../images/10.png) left bottom no-repeat;
}
.hlj3 ul li.ed11 span {
	background: url(../images/11.png) left bottom no-repeat;
}
.hlj3 ul li.ed12 span {
	background: url(../images/12.png) left bottom no-repeat;
}
.hlj3 ul li.ed13 span {
	background: url(../images/13.png) left bottom no-repeat;
}
.hlj3 ul li.ed14 span {
	background: url(../images/14.png) left bottom no-repeat;
}
.hlj3 ul li.ed15 span {
	background: url(../images/15.png) left bottom no-repeat;
}
.hlj3 ul li.ed16 span {
	background: url(../images/16.png) left bottom no-repeat;
}
.hlj3 ul li.ed17 span {
	background: url(../images/17.png) left bottom no-repeat;
}
.hlj3 ul li.ed18 span {
	background: url(../images/18.png) left bottom no-repeat;
}
.hlj3 ul li.ed19 span {
	background: url(../images/19.png) left bottom no-repeat;
}
.hlj3 ul li.ed20 span {
	background: url(../images/20.png) left bottom no-repeat;
}
.hlj3 ul li.ed21 span {
	background: url(../images/21.png) left bottom no-repeat;
}
.hlj3 ul li.ed22 span {
	background: url(../images/22.png) left bottom no-repeat;
}
.hlj3 ul li.ed23 span {
	background: url(../images/23.png) left bottom no-repeat;
}
.hlj3 ul li.ed24 span {
	background: url(../images/24.png) left bottom no-repeat;
}
.hlj3 ul li.ed25 span {
	background: url(../images/25.png) left bottom no-repeat;
}
.hlj3 ul li.ed26 span {
	background: url(../images/26.png) left bottom no-repeat;
}
.hlj3 ul li.ed27 span {
	background: url(../images/27.png) left bottom no-repeat;
}
.hlj3 ul li.ed28 span {
	background: url(../images/28.png) left bottom no-repeat;
}
.hlj3 ul li.ed29 span {
	background: url(../images/29.png) left bottom no-repeat;
}
.hlj3 ul li.ed30 span {
	background: url(../images/30.png) left bottom no-repeat;
}
.hlj3 ul li.ed31 span {
	background: url(../images/31.png) left bottom no-repeat;
}
.hlj3 ul li.ed32 span {
	background: url(../images/32.png) left bottom no-repeat;
}
.hlj3 ul li.ed33 span {
	background: url(../images/33.png) left bottom no-repeat;
}
.hlj3 ul li.ed34 span {
	background: url(../images/34.png) left bottom no-repeat;
}
.hlj3 ul li.ed35 span {
	background: url(../images/35.png) left bottom no-repeat;
}
.hlj3 ul li.ed36 span {
	background: url(../images/36.png) left bottom no-repeat;
}
.hlj3 ul li.ed37 span {
	background: url(../images/37.png) left bottom no-repeat;
}
.hlj3 ul li.ed38 span {
	background: url(../images/38.png) left bottom no-repeat;
}
.hlj3 ul li.ed39 span {
	background: url(../images/39.png) left bottom no-repeat;
}
.hlj3 ul li.ed40 span {
	background: url(../images/40.png) left bottom no-repeat;
}
/*-------------ptfw-----ptfw----------*/
.ptfw {
	background: url(../images/ptfw.png) left center no-repeat;
	float: right;
	width: 700px;
	height: 700px;
	margin: 400px 240px 0px 0px;
	position: relative;
	display:inline;
}
.ptfw a {
	display: block;
	width: 120px;
	height: 120px;
	position: absolute;
}
.ptfw a span {
	display: none;
}
.ptfw a.fw1 {
	top: 105px;
	left: 105px;
}
.ptfw a.fw2 {
	top: 285px;
	left: 30px;
}
.ptfw a.fw3 {
	top: 470px;
	left: 100px;
}
.ptfw a.fw4 {
	top: 540px;
	left: 285px;
}
.ptfw a.fw5 {
	top: 470px;
	left: 465px;
}
.ptfw a.fw6 {
	top: 285px;
	left: 540px;
}
.ptfw a.fw7 {
	top: 105px;
	left: 465px;
}
.ptfw a.fw8 {
	top: 30px;
	left: 285px;
}
/*-------pop--------------------------*/
/*-----------浮动层-------------------------------------*/
.sample_popup {
	z-index: 10;
	width: auto;
	float: left;
	height: auto;
	padding: 2px;
	background: #999;
}
.sample_popup .sample_popup_1 {
	float: left;
	width: auto;
	height: auto;
	position: relative;
}
.sample_popup .sample_popup_1 h5, .sample_popup .sample_popup_2 h5 {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	float: left;
	line-height: 2;
}
.sample_popup .sample_popup_1 h5 .number_layer {
	float: left;
	font-size: 14px;
}
.sample_popup .sample_popup_1 h5 span.closed, .sample_popup .sample_popup_2 h5 span.closed {
	float: right;
	cursor: pointer;
	display: inline;
	z-index: +3;
	color: #FFF;
	font-size:45px;
	background: red;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	text-align:center;
	line-height:100px;
	margin:-50px -50px 0px 0px;
}
.layer {
	float: left;
	width: 1689px;
	background: #ededed;
	font-size: 12px;
	height: auto;
}
.layer h6 {
	float: left;
	width: 1689px;
	height: 31px;
}
.layer h6.club {
	float: left;
	width: 1689px;
	height: 53px;
}
.layer h6.club .titles {
	float: left;
	padding: 8px 0px 0px 10px;
	color: #fff;
}
.layer h6 .titles {
	float: left;
	padding: 8px 0px 0px 10px;
	color: #069;
	font-size: 16px;
}
.layer h6.club p {
	float: right;
	width: 135px;
	height: 31px;
}
.layer h6 p {
	float: right;
	width: 135px;
	height: 31px;
}
.layer .firend_list {
	width: 1689px;
	float: left;
	background: #fff;
	height:858px;
	overflow:hidden;
}
