<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>FindCollegeAction</servlet-name>
    <servlet-class>Servlet.FindCollegeAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindIncubatorAction</servlet-name>
    <servlet-class>Servlet.FindIncubatorAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAgriculturalAction</servlet-name>
    <servlet-class>Servlet.FindAgriculturalAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindNewZoneAction</servlet-name>
    <servlet-class>Servlet.FindNewZoneAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindEngineeringCenterAction</servlet-name>
    <servlet-class>Servlet.FindEngineeringCenterAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCollegeZoneAction</servlet-name>
    <servlet-class>Servlet.FindCollegeZoneAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAccelerateCenterAction</servlet-name>
    <servlet-class>Servlet.FindAccelerateCenterAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindSpecialBaseAction</servlet-name>
    <servlet-class>Servlet.FindSpecialBaseAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUnionAction</servlet-name>
    <servlet-class>Servlet.FindUnionAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindWorkStationAction</servlet-name>
    <servlet-class>Servlet.FindWorkStationAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindResearchOrgAction</servlet-name>
    <servlet-class>Servlet.FindResearchOrgAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUnionItemsAction</servlet-name>
    <servlet-class>Servlet.FindUnionItemsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindSpecialItemsAction</servlet-name>
    <servlet-class>Servlet.FindSpecialItemsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCollegeAction</servlet-name>
    <url-pattern>/servlet/FindCollegeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindIncubatorAction</servlet-name>
    <url-pattern>/servlet/FindIncubatorAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAgriculturalAction</servlet-name>
    <url-pattern>/servlet/FindAgriculturalAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindNewZoneAction</servlet-name>
    <url-pattern>/servlet/FindNewZoneAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindEngineeringCenterAction</servlet-name>
    <url-pattern>/servlet/FindEngineeringCenterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCollegeZoneAction</servlet-name>
    <url-pattern>/servlet/FindCollegeZoneAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAccelerateCenterAction</servlet-name>
    <url-pattern>/servlet/FindAccelerateCenterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSpecialBaseAction</servlet-name>
    <url-pattern>/servlet/FindSpecialBaseAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUnionAction</servlet-name>
    <url-pattern>/servlet/FindUnionAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindWorkStationAction</servlet-name>
    <url-pattern>/servlet/FindWorkStationAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindResearchOrgAction</servlet-name>
    <url-pattern>/servlet/FindResearchOrgAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUnionItemsAction</servlet-name>
    <url-pattern>/servlet/FindUnionItemsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSpecialItemsAction</servlet-name>
    <url-pattern>/servlet/FindSpecialItemsAction</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>